form{
    margin: 60px;
    max-width: 50%;
}

.card{
    width: auto;
    display: inline-block;
    margin: 5px;
    white-space: wrap;
}

.blockchain{
    /* display: flex; */
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}